.App {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url('/src/images/world.jpg');
    height: 100vh;
    width: 100%;
}